.container{
    width: 40%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
    padding: 1%;
    border-radius: 15px;
    flex-wrap: wrap;
}
.container button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 8px;
    font-size: 20px;
}
.container button:hover{
    background-color: gray;
    cursor: pointer;
    border-radius: 5px;
}