.product-details{
    height: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.product-details img{
    border: 1px solid black;
    height: 60%;
    background-color: gray;
}
.name-quantity{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.product-details-write{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
